/*Globales*/
*{
    font-family: "Lexend Exa", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg-photo {
    background-image: url('./img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Contenedor*/
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/*Botones*/
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.btnElemento{
    background-color: greenyellow;
    border: none;
    border-radius: 50%;
    width: 77px;
    height: 77px;
    font-size: 24px;
}

.btnElemento:hover{
    background-color: green;
}

#muteButton {
    position: fixed;
    top: 0;
    left: 0;
    right: px;
    z-index: 1000;
    width: 100%;
    padding: 10px;
    display: flex;
    margin-right: 10px;
    justify-content: end;
}

#muteButton button {
    margin-left: 10px;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/*Inputs*/

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 24px);
}

/*Textos*/
p {
    font-size: 18px;
}

#resultado{
    font-weight: 700px;
}

.resultado {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.jugadorTexto{
    font-weight: 700;

}


